name: Build Resume PDF

permissions:
  contents: write

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@4.0.0
        with:
          root_file: resume.tex

      - name: Compute name
        id: vars
        run: |
          SAFE_BRANCH="${GITHUB_REF_NAME//\//-}"
          DATE_TAG="$(date +'%m_%Y')"

          echo "branch=$SAFE_BRANCH" >> $GITHUB_OUTPUT
          echo "date=$DATE_TAG" >> $GITHUB_OUTPUT
          echo "filename=$SAFE_BRANCH-$DATE_TAG-resume.pdf" >> $GITHUB_OUTPUT

      - name: Rename PDF
        run: mv resume.pdf "${{ steps.vars.outputs.filename }}"

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ steps.vars.outputs.branch }} Resume (${{ steps.vars.outputs.date }})
          path: ${{ steps.vars.outputs.filename }}

      - name: Create or update GitHub Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          tag_name: ${{ steps.vars.outputs.branch }}
          name: Resume - ${{ steps.vars.outputs.branch }}
          files: ${{ steps.vars.outputs.filename }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
