name: Build PDF

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@4.0.0
        with:
          root_file: resume.tex
          cache: true

      - name: Rename PDF
        run: |
          SAFE_BRANCH="${GITHUB_REF_NAME//\//-}"
          PDF_NAME="$SAFE_BRANCH-resume.pdf"
          mv resume.pdf "$PDF_NAME"
          echo "PDF_NAME=$PDF_NAME" >> "$GITHUB_ENV"

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ github.ref_name }} Resume PDF
          path: ${{ env.PDF_NAME }}